.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 20px;
  justify-content: center;
  
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  background:linear-gradient(rgb(255, 255, 255),rgb(160, 157, 157));
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.card-title {
   padding: 5px;
  margin-bottom: 5px;
  font-size: large;
  word-wrap: break-word; /* ADD: allow wrapping long words */
  overflow-wrap: break-word;
  
}

.btn {
  align-self: center;
  margin-bottom: auto;
}

.card-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom:auto;
  padding: 5px;
  
}
.btn-log{
  background-color: #2e2c2c;
  height:fit-content
}
.new-btn{
   
    padding: 1rem;
  display: flex;
  justify-content: center; 
}

.form-container{
  border: 1px solid #ccc;
  border-radius: 8px;
  background:linear-gradient(to right,rgb(121, 121, 121),rgb(201, 198, 198));
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
}
.topic-select{
    width:fit-content
}