.navbar-logo {
  height: 40px;
  width: auto;
}

.navbar{
    
    background-color:transparent;    
    
    border-radius: 10px;
    height:auto;
    padding: 0
    
}
.btn-log{
  background-color: #1c1b1d;
}
.navbar-toggler{
  background:linear-gradient(rgb(138, 138, 138),rgb(87, 83, 83));
  border:1px solid rgba(26, 26, 26, 0.774)
}

